*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 400;
}
.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
    line-height: 1.2;
    text-align: justify;
}
.content .textBox a{
    display: inline-block;
    margin-top:20px;
    padding: 8px 20px;
    background-color:#017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textBox a:hover{
    opacity: 0.6;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}
.thumb li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    cursor: pointer; 
    transition: 0.5s; 
}
.thumb li:hover{
    transform: translateY(-15%);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right:30px;
    transform: translateY(-50%);
    align-items: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 800px);
}
/* new by hoang */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.clear{
    clear: both;
}
.contact{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 40px;
}
.contact-info{
       font-size: 18px;
       line-height: 1.5;
       color: #017143;
       font-style: italic;
}
.contact-content{
    padding-top: 48px;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #017143;
    width: 100%;    
}
.mes{
    margin-top: 12px;
}
.send{
    float: right;
    padding: 13px 23px;
    border: none;
    margin-top: 17px;
    background-color:#017143;
    color: white;
    border-radius: 50px;
}
.send:hover{
    opacity: 0.6;
    cursor: pointer;
}
.heading-text, .sub-heading{
      text-align: center;
}
.sub-heading{
    padding-top: 24px;
    font-style: italic;
    opacity: 0.6;
}
.heading-text{
    opacity: 0.8;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}